root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.{json,js,ts}]
indent_style = space
indent_size = 2
# Enforce the consistent use of either backticks, double, or single quotes on object keys
# https://eslint.org/docs/latest/rules/quote-props
quote_props = consistent
# Requires the use of single quotes wherever possible
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties#ideas-for-domain-specific-properties
quote_type = single

[*.{md,markdown}]
max_line_length = off
trim_trailing_whitespace = false
