{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "mocha", "prettier"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:mocha/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "eqeqeq": "warn",
    "mocha/no-skipped-tests": "error",
    "mocha/no-exclusive-tests": "error"
  },
  "env": {
    "node": true,
    "es6": true
  }
}
